In [10]:
import psycopg2
import os 

# connect to database. Never save your password to a notebook.
connection = psycopg2.connect(
    database  = "postgres",
    user      = "postgres",
    password  = '', # secure password entry. Enter DB password in the prompt and press Enter.
    host      = "m",
    port      = '5432'
)

# create cursor that is used throughout
try:
    c = connection.cursor()
    print("Connected!")
except Exception as e:
    print("Connection problem chief!\n")
    print(e)

Connected!

In [6]:
from recommender import Recommender

In [7]:
import boto3
import json 
from datetime import datetime
import random 
import pandas as pd 

from helpers import fill_id, df_to_id_list, prep_data
# from database_connection import c, connection
import warnings;
warnings.filterwarnings('ignore')


class PythonPredictor:
    def __init__(self, config={}):

        # s3 = boto3.client("s3")
        # s3.download_file(config["bucket"], config["key"], "w2v_limitingfactor_v3.51.model")
        
        self.model = Recommender('models/w2v_limitingfactor_v3.51.model')
        pass

    def predict(self, payload): # INPUT: userid (number), returns json and commits recs to DB
        
        
        user_id = payload
        
        """ pull data from DB based on userid """
        
        self.model.cursor_dog.execute("SELECT date, name, year, letterboxed_uri, rating FROM ratings WHERE user_id=%s;", (user_id,))
        ratings_sql= self.model.cursor_dog.fetchall()
        ratings = pd.DataFrame(ratings_sql, columns = ['date', 'name', 'year', 'letterboxd_uri', 'rating'])
        ratings= ratings.dropna()
        
        self.model.cursor_dog.execute("SELECT date, name, year, letterboxd_uri  FROM ratings WHERE user_id=%s;", (user_id,))
        watchlist_sql= self.model.cursor_dog.fetchall()
        watchlist = pd.DataFrame(watchlist_sql, columns = ['date', 'name', 'year', 'letterboxd_uri'])
        watchlist = watchlist.dropna()
        
        self.model.cursor_dog.execute("SELECT date, name, year, letterboxd_uri  FROM ratings WHERE user_id=%s;", (user_id,))
        watched_sql= self.model.cursor_dog.fetchall()
        watched = pd.DataFrame(watched_sql, columns = ['date', 'name', 'year', 'letterboxd_uri'])
        watched = watched.dropna()
        
        # self.model.cursor_dog.execute("SELECT * FROM test_title_basics_small;")
        # title_basics_small_sql= c.fetchall()
        # id_book = pd.DataFrame(title_basics_small_sql, columns = ['tconst', 'primaryTitle', 'originalTitle', 'startYear'])
        # id_book = id_book.dropna()
        
        """ create lists for prediction """
        good_list, bad_list, hist_list, val_list, ratings_dict = prep_data(
                                    ratings, watchlist_df=watchlist, watched_df=watched, good_threshold=4, bad_threshold=3) 
        
        """ convert JSON to python list """ 
        # payload_jsonified = json.dumps(payload)
        # movie_dict = json.loads(payload_jsonified)
        # movie_list = list(movie_dict.values())
        
        """ call predict """
        
        predictions = self.model.predict(good_list, bad_list, hist_list, val_list, ratings_dict, n=20, harshness=1, rec_movies=True, scoring=True,)
        
        """ convert python list to JSON """
        
        names = ['Title', 'Year', 'IMDB URL', 'Average Rating', 'Number of Votes', 'Similarity Score', 'IMDB ID']
        names_lists = {key:[] for key in names}
        
        for x in range(0, len(predictions[0])):
            for y in range(0, len(predictions)):
                names_lists[names[x]].append(predictions[y][x])
                
        results_dict = [dict(zip(names_lists,t)) for t in zip(*names_lists.values())]
        json_data = json.dumps(results_dict)
        

        """ commit to the database """

        recommendation_id = random.randint(1, 100000000)
        recommendation_json = json_data
        date = datetime.now()
        self.model.cursor_dog.execute("INSERT INTO recommendations VALUES (%s, %s, %s, %s)", (userid, recommendation_id, recommendation_json, date))
        self.model.cursor_dog.connection.commit()
        
        return recommendation_json, recommendation_id

In [8]:
predictor = PythonPredictor()

In [93]:
predictor.predict(1111)

The model recommended 3 movies that were on the watchlist!

		 Average Rating: 0.0

1658069

In [3]:
from recommender import Recommender
model = Recommender('models/w2v_limitingfactor_v3.51.model', c)

In [ ]:
userid = 1111

c.execute("SELECT * FROM test_ratings WHERE userid=%s;", (userid,))
ratings_sql= c.fetchall()
ratings = pd.DataFrame(ratings_sql, columns = ['Date', 'Name', 'Year', 'Letterboxd_URI', 'Rating', 'userid'])
ratings= ratings.dropna()


c.execute("SELECT * FROM test_watchlist WHERE userid=%s;", (userid,))
watchlist_sql= c.fetchall()
watchlist = pd.DataFrame(watchlist_sql, columns = ['Date', 'Name', 'Year', 'Letterboxd_URI', 'userid'])
watchlist = watchlist.dropna()


c.execute("SELECT * FROM test_watched WHERE userid=%s;", (userid,))
watched_sql= c.fetchall()
watched = pd.DataFrame(watched_sql, columns = ['Date', 'Name', 'Year', 'Letterboxd_URI', 'userid'])
watched = watched.dropna()

In [ ]:
ratings[:3], watchlist[:3], watched[:3]

In [88]:
watched

Empty DataFrame
Columns: [Date, Name, Year, Letterboxd_URI, userid]
Index: []

In [89]:
 good_list, bad_list, hist_list, val_list, ratings_dict = prep_data(
                                    ratings, watchlist_df= watchlist, good_threshold=4, bad_threshold=3)

In [90]:
 predictions = model.predict(good_list, bad_list, hist_list, val_list, ratings_dict, n=20, harshness=1, rec_movies=True, scoring=True,)

The model recommended 3 movies that were on the watchlist!

		 Average Rating: 0.0

In [ ]:
predictions

In [13]:
import psycopg2 

# connect to database
connection = psycopg2.connect(
    database  = "postgres",
    user      = "postgres",
    password  = "Choco77!",
    host      = "groa.co9waoqengyl.us-east-1.rds.amazonaws.com",
    port      = '5432'
)

cursor_dog = connection.cursor()

In [9]:
""" Population the DB with Cooper data """
ratings = pd.read_csv('exported_data/letterboxd/cooper/ratings.csv')

In [69]:
ratings.head()

,Date,Name,Year,Letterboxd URI,Rating
0,2012-09-20,Pulp Fiction,1994.0,https://letterboxd.com/film/pulp-fiction/,5.0
1,2012-09-20,Reservoir Dogs,1992.0,https://letterboxd.com/film/reservoir-dogs/,4.5
2,2012-09-20,Singin' in the Rain,1952.0,https://letterboxd.com/film/singin-in-the-rain/,5.0
3,2012-09-21,Lilya 4-ever,2002.0,https://letterboxd.com/film/lilya-4-ever/,3.5
4,2012-09-21,The Bourne Legacy,2012.0,https://letterboxd.com/film/the-bourne-legacy/,3.5

In [79]:
from sqlalchemy import create_engine  
db_string = "postgresql://postgres:Choco77!@groa.co9waoqengyl.us-east-1.rds.amazonaws.com:5432/postgres"
engine = create_engine(db_string)

In [82]:
ratings.to_sql('ratings', engine.raw_connection())

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': relation "sqlite_master" does not exist
LINE 1: SELECT name FROM sqlite_master WHERE type='table' AND name=?...
                         ^